{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post" class="cyber-form">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}>Déconnexion</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>

    <div class="form-field">
        <label for="inputUsername">Nom d'utilisateur</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="cyber-input" autocomplete="username" placeholder="Nom d'utilisateur" required autofocus>
    </div>

    <div class="form-field">
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="cyber-input" autocomplete="current-password" placeholder="Mot de passe" required>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <div class="checkbox-field">
        <input type="checkbox" name="_remember_me" id="remember_me" class="cyber-checkbox">
        <label for="remember_me">Se souvenir de moi</label>
    </div>

    <button class="btn-cyberpunk" type="submit">
        Connexion
    </button>

    <p class="text-center" style="margin-top: 15px;">
    Pas encore de compte ?
    <a href="{{ path('app_register') }}" class="btn-cyberpunk" style="padding: 5px 10px;">Créer un compte</a>
    </p>


</form>
{% endblock %}
