{% extends 'base.html.twig' %}

{% block body %}
<h1>S'inscrire</h1>

{{ form_start(registrationForm, {'attr': {'class': 'cyber-form'}}) }}

<div class="form-field">
    {{ form_label(registrationForm.username) }}
    {{ form_widget(registrationForm.username, {'attr': {'class': 'cyber-input'}}) }}
    {{ form_errors(registrationForm.username) }}
</div>

<div class="form-field">
    {{ form_label(registrationForm.email) }}
    {{ form_widget(registrationForm.email, {'attr': {'class': 'cyber-input'}}) }}
    {{ form_errors(registrationForm.email) }}
</div>

<div class="form-field">
    {{ form_label(registrationForm.plainPassword) }}
    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'cyber-input'}}) }}
    {{ form_errors(registrationForm.plainPassword) }}
</div>

<div class="form-field">
    {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'cyber-checkbox'}}) }}
    {{ form_label(registrationForm.agreeTerms) }}
    {{ form_errors(registrationForm.agreeTerms) }}
</div>

<button type="submit" class="cyber-btn">Soumettre</button>

{{ form_end(registrationForm) }}
{% endblock %}
