{% extends 'base.html.twig' %}

{% block title %}Créer un jeu{% endblock %}

{% block body %}
<h1>Créer un nouveau jeu</h1>

{{ form_start(form, {'attr': {'class': 'cyber-form'}}) }}

<div class="form-field">
    {{ form_label(form.titre) }}
    {{ form_widget(form.titre, {'attr': {'class': 'cyber-input'}}) }}
    {{ form_errors(form.titre) }}
</div>

<div class="form-field">
    {{ form_label(form.description) }}
    {{ form_widget(form.description, {'attr': {'class': 'cyber-input'}}) }}
    {{ form_errors(form.description) }}
</div>

<div class="form-field">
    {{ form_label(form.ville) }}
    {{ form_widget(form.ville, {'attr': {'class': 'cyber-input'}}) }}
    {{ form_errors(form.ville) }}
</div>

<div class="form-field">
    {{ form_label(form.latitude) }}
    {{ form_widget(form.latitude, {'attr': {'class': 'cyber-input'}}) }}
    {{ form_errors(form.latitude) }}
</div>

<div class="form-field">
    {{ form_label(form.longitude) }}
    {{ form_widget(form.longitude, {'attr': {'class': 'cyber-input'}}) }}
    {{ form_errors(form.longitude) }}
</div>

<div class="form-field">
    {{ form_label(form.dateSoiree) }}
    {{ form_widget(form.dateSoiree, {'attr': {'class': 'cyber-input'}}) }}
    {{ form_errors(form.dateSoiree) }}
</div>

<div class="form-field">
    {{ form_label(form.nombrePlaces) }}
    {{ form_widget(form.nombrePlaces, {'attr': {'class': 'cyber-input'}}) }}
    {{ form_errors(form.nombrePlaces) }}
</div>

<button type="submit" class="btn-cyberpunk">Créer le jeu</button>

{{ form_end(form) }}
{% endblock %}
